{% extends "LaLibretaDelDetective/base.html" %}

{% block head %}
{% load staticfiles %}
<script src="{% static 'LaLibretaDelDetective/js/index.js' %}" type="text/javascript"></script>
<link href="{% static 'LaLibretaDelDetective/css/index.css' %}" type="text/css" rel="stylesheet" media="screen, projection, tv" />
{% endblock %}

{% block content %}
<div id="div-front-general">
	<div id="div-front-central">
		<form id="form-name" action="/libreta" method="post">
			{% csrf_token %}
			<p> ¡ Bienvenido Detective ! </p>
			<p>Introduce tus datos aquí para poder acceder a tu libreta de detective.</p>
			<div>
				<label for="input-name" >Nombre y Apellidos :</label>
				<input type="text" id="input-name" name="input-name"/>
			</div>
			<input type="submit" id="input-button" value="Acceder"/>
		</form>
	</div>
</div>
{% endblock %}