{% extends "LaLibretaDelDetective/base.html" %}

{% block head %}
{% load staticfiles %}
<script src="{% static 'booklet/jquery.easing.1.3.js' %}" type="text/javascript"></script>
<script src="{% static 'booklet/jquery.booklet.latest.min.js' %}" type="text/javascript"></script>
<link href="{% static 'booklet/jquery.booklet.latest.css' %}" type="text/css" rel="stylesheet" media="screen, projection, tv" />

<script src="{% static 'LaLibretaDelDetective/js/main.js' %}" type="text/javascript"></script>
<link href="{% static 'LaLibretaDelDetective/css/main.css' %}" type="text/css" rel="stylesheet" media="screen, projection, tv" />
<style>
	.b-page-cover-front {
		background-image: url("{% static 'LaLibretaDelDetective/images/portada de la libreta.jpg'%}") !important;
		background-size: cover !important;
	}

	.b-page-cover-back {
		background-image: url("{% static 'LaLibretaDelDetective/images/moleskine1.jpg'%}") !important;
		background-size: cover !important;
	}

	.b-wrap-right {
		background-image: url("{% static 'LaLibretaDelDetective/images/left-page.jpg'%}") !important;
		background-size: cover !important;
	}
	.b-wrap-left {
		background-image: url("{% static 'LaLibretaDelDetective/images/left-page.jpg'%}") !important;
		background-size: cover !important;
	}
	input[type="text"] {
		background: transparent;
		border-width: 3px;
		border-radius: 5px;
		border-color: #000000;
		font-family: JournalEB;
		font-weight: bold;
		padding: 0 1em;
	}
	.page-container{
		margin:auto;
	}
	textarea {
		background: transparent;
		border-width: 3px;
		border-radius: 5px;
		border-color: #000000;
		font-family: JournalEB;
		font-weight: bold;
	}
	#footer-container p {
		background: #000000;
		color: #FFFFFF;
		margin: 2em;
		display: inline-block;
		padding: 1em 2em;
	}
	#page-tarea-1a p {

	}
	body {
		background: #000000 url("{% static 'LaLibretaDelDetective/images/detective-items_00435269.jpg'%}");
		background-size: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family: JournalEB;
		padding: 5ex;
		font-size: 12px;
		font-weight: bold;
	}
	.div-page {
		height: 100%;
	}
	#book-container {
		width: 80%;
		height: 800px;
		margin: auto;
	}
	#book-container p {
		margin: 0;
	}
	#table-container-t1a {
		height: 75ex;
	}
	#table-t1a {
		margin-top: 5ex;
	}
	#table-t1b {
		padding: 2ex 0;
	}
	#mybook table {
		width: 85%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	h1, h2 {
		overflow:visible;
		text-align: center;
		margin: 0;
	}
	span {
		margin: auto;
	}
	@font-face {
		font-family: JournalEB;
		src: url("{% static 'LaLibretaDelDetective/fonts/JournalEB.ttf' %}");
	}
	.b-wrap-left, .b-wrap-right {
		padding: 2em !important;
	}
	#page-1d-container{
		padding-top:3ex;
		width:80%;
	}
</style>
{% endblock %}

{% block content %}
<div id="custom-menu"></div>
<div id="book-container">
	<form id="form-book" action="libreta-save">
		<div id="mybook">
			<div class="b-div-cover-front">

			</div>
			<div id="page-tarea-1a" class="div-page" rel="Primera Tarea">
				<div class="page-container">
				<h1>¡ Atrapa las palabras !</h1>
				<h2>a) Relaciona cada palabra con su significado: </h2>
				<div id="table-container-t1a" class="table-container">
					<table id="table-t1a">
						<tbody>
							<tr id="tr-t1a-1">
								<td id="td-t1a-1-l">
								<p>
									1.- Asesino
								</p></td><td>
								<select name="input-t1a-1">
									<option value="opt-t1a-null" selected="selected" >-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-2">
								<td id="td-t1a-2-l">
								<p>
									2.- Arma
								</p></td><td>
								<select name="input-t1a-2">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-3">
								<td id="td-t1a-3-l">
								<p>
									3.- Cadaver
								</p></td><td>
								<select name="input-t1a-3">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-4">
								<td id="td-t1a-4-l">
								<p>
									4.- Coartada
								</p></td><td>
								<select name="input-t1a-4">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-5">
								<td id="td-t1a-5-l">
								<p>
									5.- Cómplice
								</p></td><td>
								<select name="input-t1a-5">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-6">
								<td id="td-t1a-6-l">
								<p>
									6.- Crimen
								</p></td><td>
								<select name="input-t1a-6">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-7">
								<td id="td-t1a-7-l">
								<p>
									7.- Huella dactilar
								</p></td><td>
								<select name="input-t1a-7">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-8">
								<td id="td-t1a-8-l">
								<p>
									8.- Indagación
								</p></td><td>
								<select name="input-t1a-8">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-9">
								<td id="td-t1a-9-l">
								<p>
									9.- Interrogatorio
								</p></td><td>
								<select name="input-t1a-9">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-10">
								<td id="td-t1a-10-l">
								<p>
									10.- Misterio
								</p></td><td>
								<select name="input-t1a-10">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-11">
								<td id="td-t1a-11-l">
								<p>
									11.- Móvil
								</p></td><td>
								<select name="input-t1a-11">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-12">
								<td id="td-t1a-12-l">
								<p>
									12.- Prueba
								</p></td><td>
								<select name="input-t1a-12">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option><option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-13">
								<td id="td-t1a-13-l">
								<p>
									13.- Sospechoso
								</p></td><td>
								<select name="input-t1a-13">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option>
									<option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-14">
								<td id="td-t1a-14-l">
								<p>
									14.- Suposición
								</p></td><td>
								<select name="input-t1a-14">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option>
									<option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
							<tr id="tr-t1a-15">
								<td id="td-t1a-15-l">
								<p>
									15.- Testigo
								</p></td><td>
								<select name="input-t1a-15">
									<option value="opt-t1a-null" selected="selected">-</option>
									<option value="opt-t1a-1">1</option>
									<option value="opt-t1a-2">2</option>
									<option value="opt-t1a-3">3</option>
									<option value="opt-t1a-4">4</option>
									<option value="opt-t1a-5">5</option>
									<option value="opt-t1a-6">6</option>
									<option value="opt-t1a-7">7</option>
									<option value="opt-t1a-8">8</option>
									<option value="opt-t1a-9">9</option>
									<option value="opt-t1a-10">10</option>
									<option value="opt-t1a-11">11</option>
									<option value="opt-t1a-12">12</option>
									<option value="opt-t1a-13">13</option>
									<option value="opt-t1a-14">14</option>
									<option value="opt-t1a-15">15</option>
								</select></td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
			</div>
			<div id="page-tarea-1b" class="div-page">
				<div class="page-container">
				<table id="table-t1b">
					<tbody>
						<tr>
							<td>
							<p>
								1.- Participante en un crimen o delito que se atribuye a dos o más personas.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								2.- Persona que presencia o tiene conocimineto directo de un hecho.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								3.- Motivo o causa de un hecho.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								4.- Investigación que se hace para averiguar algo que se desconoce.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								5.- Consideración o deducción de algún hecho como cierto.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								6.- Persona cuya conducta o antecedentes inspira sospecha o desconfianza.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								7.- Instrumento destinado a atacar o defender.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								8.- Delito grave que consiste en matar herir o hacer daño a una persona.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								9.- Cuerpo muerto.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								10.- Criminal homicida.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								11.- Argumento de defensa con el que un acusado prueba no haber estado presente en el lugar del delito cuando se cometió.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								12.- Impresión que suele dejar la yema del dedo en un objeto al tocarlo.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								13.- Serie de preguntas con las que se pretende esclarecer un asunto.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								14.- Hecho oscuro o secreto cuya explicación se desconoce.
							</p></td>
						</tr>
						<tr>
							<td>
							<p>
								15.- Indicio que demuestra la verdad o falsedad de algún hecho.
							</p></td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>

			<div id="page-tarea-1c" class="div-page">
				<h2>b) Escribe 5 hipónimos para cada hiperónimo de la tabla: </h2>
			</div>
			<div id="page-tarea-1d" class="div-page">
				<div id="page-1d-container" class="page-container">
				<span>Arma</span>
				<ul>
					<li> <input type="text" name="input-t1b-1-1"/>	</li>
					<li> <input type="text" name="input-t1b-1-2"/>	</li>
					<li> <input type="text" name="input-t1b-1-3"/>	</li>
					<li> <input type="text" name="input-t1b-1-4"/>	</li>
					<li> <input type="text" name="input-t1b-1-5"/>	</li>
				</ul>
				<span>Móvil</span>
				<ul>
					<li> <input type="text" name="input-t1b-2-1"/>	</li>
					<li> <input type="text" name="input-t1b-2-2"/>	</li>
					<li> <input type="text" name="input-t1b-2-3"/>	</li>
					<li> <input type="text" name="input-t1b-2-4"/>	</li>
					<li> <input type="text" name="input-t1b-2-5"/>	</li>
				</ul>
				<span>Prueba</span>
				<ul>
					<li> <input type="text" name="input-t1b-3-1"/>	</li>
					<li> <input type="text" name="input-t1b-3-2"/>	</li>
					<li> <input type="text" name="input-t1b-3-3"/>	</li>
					<li> <input type="text" name="input-t1b-3-4"/>	</li>
					<li> <input type="text" name="input-t1b-3-5"/>	</li>
				</ul>
				</div>
			</div>
			
			<div id="page-tarea-2a" class="div-page" rel="Segunda Tarea">
				<h3>¡El misterio que envuelve la isla del negro!</h3>
				<div class="page-container">
					<span>Enigma 1(Capítulo 1)</span>
					<span>¿Qué le dice el viejo a Blove antes de bajarse del tren?</span> 
					<span>Enigma 2(Capítulo 2)</span>
					<span>¿Qué lee el doctor Amstrong en los ojos de Lombard nada más conocerlo?</span> 
					<span>Enigma 3(Capítulo 2)</span>
					<span>¿Qué piensa Fredd Narracott al ver a los invitados?</span> 
					<span>Enigma 4(Capítulo 2)</span>
					<span>¿Qué piensa en su fuero interno el general MacArthur  de la Isla del Negro?</span> 
					<span>Enigma 5 (Capítulo 2)</span>
					<span>¿Qué piensa Vera de mistress Rogers? </span>
				</div>
			</div>
			
			<div id="page-tarea-2b" class="div-page">
				
			</div>
			
			<div id="page-tarea-2c" class="div-page">
				
			</div>
			<div id="page-tarea-2d" class="div-page">
				<h3>Tarea 2!</h3>
			</div>
			<div id="page-tarea-3a" class="div-page" rel="Tercera Tarea">
				<h3>Tarea 3!</h3>
			</div>
			<div id="page-tarea-3b" class="div-page">
				<h3>Tarea 3!</h3>
			</div>
			<div id="page-tarea-3c" class="div-page">
				<h3>Tarea 3!</h3>
			</div>
			<div id="page-tarea-3d" class="div-page">
				<h3>Tarea 3!</h3>
			</div>
			<div id="page-tarea-4-1a" class="div-page" rel="Cuarta Tarea">
				<h3>Laurence Wargrave</h3>
			</div>
			<div id="page-tarea-4-1b" class="div-page">
				<h3>ddd</h3>
			</div>
			<div id="page-tarea-4-2a" class="div-page">
				<h3>Vera Claythorne</h3>
			</div>
			<div id="page-tarea-4-2b" class="div-page">
				<h3>Tarea 4!</h3>
			</div>
			<div id="page-tarea-4-3a" class="div-page">
				<h3>Philip Lombard</h3>
			</div>
			<div id="page-tarea-4-3b" class="div-page">
				<h3>Tarea 4!</h3>
			</div>
			<div id="page-tarea-4-4a" class="div-page">
				<h3>Emily Brent</h3>
			</div>
			<div id="page-tarea-4-4b" class="div-page">
				<h3>Tarea 4!</h3>
			</div>
			<div id="page-tarea-4-5a" class="div-page">
				<h3>MacArthur</h3>
			</div>
			<div id="page-tarea-4-5b" class="div-page">
				<h3>Tarea 4!</h3>
			</div>
			<div id="page-tarea-4-6a" class="div-page">
				<h3>Amstrong</h3>
			</div>
			<div id="page-tarea-4-6b" class="div-page">
				<h3>Tarea 4!</h3>
			</div>
			<div id="page-tarea-4-7a" class="div-page">
				<h3>Tony Marston</h3>
			</div>
			<div id="page-tarea-4-7b" class="div-page">
				<h3>Tarea 4!</h3>
			</div>
			<div id="page-tarea-4-8a" class="div-page">
				<h3>William Henry Blove</h3>
			</div>
			<div id="page-tarea-4-8b" class="div-page">
				<h3>Tarea 4!</h3>
			</div>
			<div id="page-tarea-4-9a" class="div-page">
				<h3>Mister Rogers</h3>
			</div>
			<div id="page-tarea-4-9b" class="div-page">
				<h3>Tarea 4!</h3>
			</div>
			<div id="page-tarea-4-10a" class="div-page">
				<h3>Mistress Rogers</h3>
			</div>
			<div id="page-tarea-4-10b" class="div-page">
				<h3>Tarea 4!</h3>
			</div>
			<div class="b-div-cover-back" class="div-page">
				<h3>Yay, Page Last!</h3>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block footer %}
<div id="footer-container">
	<p>
		&copy; Made by Andres
	</p>
</div>
{% endblock %}