{% load staticfiles %}
<div id="page-tarea-2a" class="div-page" rel="Segunda Tarea">
	<h1>¡El misterio que envuelve la Isla del Negro!</h1>
	<div id="page-2a-container" class="page-container">
		<h3>Enigma 1(Capítulo 1)</h3>
		<p>
			¿Qué le dice el viejo a Blove antes de bajarse del tren?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Enigma 2(Capítulo 2)</h3>
		<p>
			¿Qué lee el doctor Amstrong en los ojos de Lombard nada más conocerlo?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Enigma 3(Capítulo 2)</h3>
		<p>
			¿Qué piensa Fredd Narracott al ver a los invitados?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-2b" class="div-page">
	<div id="page-2b-container" class="page-container">
		<h3>Enigma 4(Capítulo 2)</h3>
		<p>
			¿Qué piensa en su fuero interno el general MacArthur  de la Isla del Negro?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Enigma 5 (Capítulo 2)</h3>
		<p>
			¿Qué piensa Vera de mistress Rogers?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Enigma 6(Capítulo 2)</h3>
		<p>
			¿Qué evoca la palabra “Isla” en la mente del doctor Amstrong?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-2c" class="div-page">
	<div id="page-2c-container" class="page-container">
		<h3>Enigma 7 (Capítulo 2)</h3>
		<p>
			¿Qué piensa el juez Wargrave de la ausencia de Constance Culmitong?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Enigma 8(Capítulo 2)</h3>
		<p>
			¿Cómo cree Blove que se miran los demás?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Enigma 9(Capítulo 2)</h3>
		<p>
			¿Qué piensa el general MacArthur del recibimiento que le hacen al llegar a la Isla?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-2d" class="div-page">
	<div id="page-2d-container" class="page-container">
		<h3>Enigma 10(Capítulo 2)</h3>
		<p>
			¿Qué versículos de la Biblia está leyendo Emily Brent en su habitación?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
	<img src="{% static 'LaLibretaDelDetective/images/manchas-de-tinta.gif' %}"/>
</div>
