{% load staticfiles %}
<div id="page-tarea-6-1a" class="div-page" rel="Sexta Tarea">
	<h1>¡ Resuelve el misterio !</h1>
	<div class="page-container">
		<textarea id="t6_1" name="t6_1" rows="24" cols="50" maxlength="800">{{ tarea6.t6_1 }}</textarea>
	</div>
</div>
<div id="page-tarea-6-1b" class="div-page" >
	<div class="page-container">
		<textarea id="t6_2" name="t6_2" rows="26" cols="50" maxlength="1200">{{ tarea6.t6_2 }}</textarea>
	</div>
	<div> <input type="button" value="Guardar"/> </div>
</div>