{% load staticfiles %}
<div id="page-tarea-4-front" class="div-page" rel="Cuarta Tarea">
	<img src="{% static 'LaLibretaDelDetective/images/scene.png' %}" style="width:100%;"/>
</div>
<div id="page-tarea-4-frontb" class="div-page" rel="Quinta Tarea">
	<div class="page-container">
		<h1>Fichas de los sospechosos</h1>
		<h2>Completa las fichas de cada uno de los diez individuos y encuentra al culpable. </h2>
	</div>
	<img src="{% static 'LaLibretaDelDetective/images/top.png' %}"/>

</div>

<div id="page-tarea-4-1a" class="div-page" >
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea rows="3" cols="50"> </textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
</div>
<div id="page-tarea-4-1b" class="div-page">
	<img class="img-face" src="{% static 'LaLibretaDelDetective/images/pics/sosp1.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Laurence</h1>
		<h1>Wargrave</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea rows="18" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-4-2a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea rows="3" cols="50"> </textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
</div>
<div id="page-tarea-4-2b" class="div-page">
	<img class="img-face" src="{% static 'LaLibretaDelDetective/images/pics/sosp2.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Vera</h1>
		<h1>Claythorne</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea rows="18" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-4-3a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea rows="3" cols="50"> </textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
</div>
<div id="page-tarea-4-3b" class="div-page">
	<img class="img-face" src="{% static 'LaLibretaDelDetective/images/pics/sosp3.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Philip</h1>
		<h1>Lombard</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea rows="18" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-4-4a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea rows="3" cols="50"> </textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
</div>
<div id="page-tarea-4-4b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp4.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Emily</h1>
		<h1>Brent</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea rows="18" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-4-5a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea rows="3" cols="50"> </textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
</div>
<div id="page-tarea-4-5b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp5.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>John</h1>
		<h1>MacArthur</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea rows="18" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-4-6a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea rows="3" cols="50"> </textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
</div>
<div id="page-tarea-4-6b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp6.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Edward</h1>
		<h1>Amstrong</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea rows="18" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-4-7a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea rows="3" cols="50"> </textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
</div>
<div id="page-tarea-4-7b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp7.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Tony</h1>
		<h1>Marston</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea rows="18" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-4-8a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea rows="3" cols="50"> </textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
</div>
<div id="page-tarea-4-8b" class="div-page">
	<img class="img-face" src="{% static 'LaLibretaDelDetective/images/pics/sosp8.png' %}" height="270" width="270"/>
	<div class="sosp-name-container" style="top: 1.7em;	left: 0.3em;">
		<h1>William Henry</h1>
		<h1>Blove</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea rows="18" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-4-9a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea rows="3" cols="50"> </textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
</div>
<div id="page-tarea-4-9b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp9.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Thomas</h1>
		<h1>Rogers</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea rows="18" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-4-10a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea rows="3" cols="50"> </textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea rows="2" cols="50"> </textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input type="text" />
	</div>
</div>
<div id="page-tarea-4-10b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp10.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Ethel</h1>
		<h1>Rogers</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea rows="18" cols="50"> </textarea>
	</div>
</div>