{% load staticfiles %}
<div id="page-tarea-4-front" class="div-page" rel="Cuarta Tarea">
	<img src="{% static 'LaLibretaDelDetective/images/scene.png' %}" style="width:100%;"/>
</div>
<div id="page-tarea-4-frontb" class="div-page" rel="Quinta Tarea">
	<div class="page-container">
		<h1>Fichas de los sospechosos</h1>
		<h2>Completa las fichas de cada uno de los diez individuos y encuentra al culpable. </h2>
	</div>
	<img src="{% static 'LaLibretaDelDetective/images/top.png' %}"/>

</div>

<div id="page-tarea-4-1a" class="div-page" >
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input id="t4_1_1" name="t4_1_1" type="text" value="{{ tarea4.t4_1_1 }}" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_1_2" name="t4_1_2" type="text" value="{{ tarea4.t4_1_2 }}" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_1_3" name="t4_1_3" type="text" value="{{ tarea4.t4_1_3 }}" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea id="t4_1_4" name="t4_1_4" rows="2" cols="50" maxlength="300">{{ tarea4.t4_1_4 }}</textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea id="t4_1_5" name="t4_1_5" rows="3" cols="50" maxlength="300">{{ tarea4.t4_1_5 }}</textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea id="t4_1_6" name="t4_1_6" rows="2" cols="50" maxlength="300">{{ tarea4.t4_1_6 }}</textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input id="t4_1_7" name="t4_1_7" type="text" value="{{ tarea4.t4_1_7 }}" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_1_8" name="t4_1_8" type="text" value="{{ tarea4.t4_1_8 }}" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_1_9" name="t4_1_9" type="text" value="{{ tarea4.t4_1_9 }}" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input id="t4_1_10" name="t4_1_10" type="text" value="{{ tarea4.t4_1_10 }}" />
	</div>
</div>
<div id="page-tarea-4-1b" class="div-page">
	<img class="img-face" src="{% static 'LaLibretaDelDetective/images/pics/sosp1.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Laurence</h1>
		<h1>Wargrave</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea id="t5_1" name="t5_1" rows="18" cols="50" maxlength="800">{{ tarea5.t5_1 }}</textarea>
	</div>
</div>
<div id="page-tarea-4-2a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input id="t4_2_1" name="t4_2_1" type="text" value="{{ tarea4.t4_2_1 }}" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_2_2" name="t4_2_2" type="text" value="{{ tarea4.t4_2_2 }}" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_2_3" name="t4_2_3" type="text" value="{{ tarea4.t4_2_3 }}" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea id="t4_2_4" name="t4_2_4" rows="2" cols="50" maxlength="300">{{ tarea4.t4_2_4 }}</textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea id="t4_2_5" name="t4_2_5" rows="3" cols="50" maxlength="300">{{ tarea4.t4_2_5 }}</textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea id="t4_2_6" name="t4_2_6" rows="2" cols="50" maxlength="300">{{ tarea4.t4_2_6 }}</textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input id="t4_2_7" name="t4_2_7" type="text" value="{{ tarea4.t4_2_7 }}" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_2_8" name="t4_2_8" type="text" value="{{ tarea4.t4_2_8 }}" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_2_9" name="t4_2_9" type="text" value="{{ tarea4.t4_2_9 }}" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input id="t4_2_10" name="t4_2_10" type="text" value="{{ tarea4.t4_2_10 }}" />
	</div>
</div>
<div id="page-tarea-4-2b" class="div-page">
	<img class="img-face" src="{% static 'LaLibretaDelDetective/images/pics/sosp2.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Vera</h1>
		<h1>Claythorne</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea id="t5_2" name="t5_2" rows="18" cols="50" maxlength="800">{{ tarea5.t5_2 }}</textarea>
	</div>
</div>
<div id="page-tarea-4-3a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input id="t4_3_1" name="t4_3_1" type="text" value="{{ tarea4.t4_3_1 }}" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_3_2" name="t4_3_2" type="text" value="{{ tarea4.t4_3_2 }}" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_3_3" name="t4_3_3" type="text" value="{{ tarea4.t4_3_3 }}" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea id="t4_3_4" name="t4_3_4" rows="2" cols="50" maxlength="300">{{ tarea4.t4_3_4 }}</textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea id="t4_3_5" name="t4_3_5" rows="3" cols="50" maxlength="300">{{ tarea4.t4_3_5 }}</textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea id="t4_3_6" name="t4_3_6" rows="2" cols="50" maxlength="300">{{ tarea4.t4_3_6 }}</textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input id="t4_3_7" name="t4_3_7" type="text" value="{{ tarea4.t4_3_7 }}" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_3_8" name="t4_3_8" type="text" value="{{ tarea4.t4_3_8 }}" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_3_9" name="t4_3_9" type="text" value="{{ tarea4.t4_3_9 }}" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input id="t4_3_10" name="t4_3_10" type="text" value="{{ tarea4.t4_3_10 }}" />
	</div>
</div>
<div id="page-tarea-4-3b" class="div-page">
	<img class="img-face" src="{% static 'LaLibretaDelDetective/images/pics/sosp3.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Philip</h1>
		<h1>Lombard</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea id="t5_3" name="t5_3" rows="18" cols="50" maxlength="800">{{ tarea5.t5_3 }}</textarea>
	</div>
</div>
<div id="page-tarea-4-4a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input id="t4_4_1" name="t4_4_1" type="text" value="{{ tarea4.t4_4_1 }}" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_4_2" name="t4_4_2" type="text" value="{{ tarea4.t4_4_2 }}" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_4_3" name="t4_4_3" type="text" value="{{ tarea4.t4_4_3 }}" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea id="t4_4_4" name="t4_4_4" rows="2" cols="50" maxlength="300">{{ tarea4.t4_4_4 }}</textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea id="t4_4_5" name="t4_4_5" rows="3" cols="50" maxlength="300">{{ tarea4.t4_4_5 }}</textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea id="t4_4_6" name="t4_4_6" rows="2" cols="50" maxlength="300">{{ tarea4.t4_4_6 }}</textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input id="t4_4_7" name="t4_4_7" type="text" value="{{ tarea4.t4_4_7 }}" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_4_8" name="t4_4_8" type="text" value="{{ tarea4.t4_4_8 }}" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_4_9" name="t4_4_9" type="text" value="{{ tarea4.t4_4_9 }}" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input id="t4_4_10" name="t4_4_10" type="text" value="{{ tarea4.t4_4_10 }}" />
	</div>
</div>
<div id="page-tarea-4-4b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp4.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Emily</h1>
		<h1>Brent</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea id="t5_4" name="t5_4" rows="18" cols="50" maxlength="800">{{ tarea5.t5_4 }}</textarea>
	</div>
</div>
<div id="page-tarea-4-5a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input id="t4_5_1" name="t4_5_1" type="text" value="{{ tarea4.t4_5_1 }}" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_5_2" name="t4_5_2" type="text" value="{{ tarea4.t4_5_2 }}" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_5_3" name="t4_5_3" type="text" value="{{ tarea4.t4_5_3 }}" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea id="t4_5_4" name="t4_5_4" rows="2" cols="50" maxlength="300">{{ tarea4.t4_5_4 }}</textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea id="t4_5_5" name="t4_5_5" rows="3" cols="50" maxlength="300">{{ tarea4.t4_5_5 }}</textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea id="t4_5_6" name="t4_5_6" rows="2" cols="50" maxlength="300">{{ tarea4.t4_5_6 }}</textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input id="t4_5_7" name="t4_5_7" type="text" value="{{ tarea4.t4_5_7 }}" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_5_8" name="t4_5_8" type="text" value="{{ tarea4.t4_5_8 }}" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_5_9" name="t4_5_9" type="text" value="{{ tarea4.t4_5_9 }}" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input id="t4_5_10" name="t4_5_10" type="text" value="{{ tarea4.t4_5_10 }}" />
	</div>
</div>
<div id="page-tarea-4-5b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp5.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>John</h1>
		<h1>MacArthur</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea id="t5_5" name="t5_5" rows="18" cols="50" maxlength="800">{{ tarea5.t5_5 }}</textarea>
	</div>
</div>
<div id="page-tarea-4-6a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input id="t4_6_1" name="t4_6_1" type="text" value="{{ tarea4.t4_6_1 }}" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_6_2" name="t4_6_2" type="text" value="{{ tarea4.t4_6_2 }}" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_6_3" name="t4_6_3" type="text" value="{{ tarea4.t4_6_3 }}" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea id="t4_6_4" name="t4_6_4" rows="2" cols="50" maxlength="300">{{ tarea4.t4_6_4 }}</textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea id="t4_6_5" name="t4_6_5" rows="3" cols="50" maxlength="300">{{ tarea4.t4_6_5 }}</textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea id="t4_6_6" name="t4_6_6" rows="2" cols="50" maxlength="300">{{ tarea4.t4_6_6 }}</textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input id="t4_6_7" name="t4_6_7" type="text" value="{{ tarea4.t4_6_7 }}" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_6_8" name="t4_6_8" type="text" value="{{ tarea4.t4_6_8 }}" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_6_9" name="t4_6_9" type="text" value="{{ tarea4.t4_6_9 }}" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input id="t4_6_10" name="t4_6_10" type="text" value="{{ tarea4.t4_6_10 }}" />
	</div>
</div>
<div id="page-tarea-4-6b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp6.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Edward</h1>
		<h1>Amstrong</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea id="t5_6" name="t5_6" rows="18" cols="50" maxlength="800">{{ tarea5.t5_6 }}</textarea>
	</div>
</div>
<div id="page-tarea-4-7a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input id="t4_7_1" name="t4_7_1" type="text" value="{{ tarea4.t4_7_1 }}" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_7_2" name="t4_7_2" type="text" value="{{ tarea4.t4_7_2 }}" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_7_3" name="t4_7_3" type="text" value="{{ tarea4.t4_7_3 }}" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea id="t4_7_4" name="t4_7_4" rows="2" cols="50" maxlength="300">{{ tarea4.t4_7_4 }}</textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea id="t4_7_5" name="t4_7_5" rows="3" cols="50" maxlength="300">{{ tarea4.t4_7_5 }}</textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea id="t4_7_6" name="t4_7_6" rows="2" cols="50" maxlength="300">{{ tarea4.t4_7_6 }}</textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input id="t4_7_7" name="t4_7_7" type="text" value="{{ tarea4.t4_7_7 }}" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_7_8" name="t4_7_8" type="text" value="{{ tarea4.t4_7_8 }}" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_7_9" name="t4_7_9" type="text" value="{{ tarea4.t4_7_9 }}" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input id="t4_7_10" name="t4_7_10" type="text" value="{{ tarea4.t4_7_10 }}" />
	</div>
</div>
<div id="page-tarea-4-7b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp7.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Tony</h1>
		<h1>Marston</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea id="t5_7" name="t5_7" rows="18" cols="50" maxlength="800">{{ tarea5.t5_7 }}</textarea>
	</div>
</div>
<div id="page-tarea-4-8a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input id="t4_8_1" name="t4_8_1" type="text" value="{{ tarea4.t4_8_1 }}" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_8_2" name="t4_8_2" type="text" value="{{ tarea4.t4_8_2 }}" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_8_3" name="t4_8_3" type="text" value="{{ tarea4.t4_8_3 }}" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea id="t4_8_4" name="t4_8_4" rows="2" cols="50" maxlength="300">{{ tarea4.t4_8_4 }}</textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea id="t4_8_5" name="t4_8_5" rows="3" cols="50" maxlength="300">{{ tarea4.t4_8_5 }}</textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea id="t4_8_6" name="t4_8_6" rows="2" cols="50" maxlength="300">{{ tarea4.t4_8_6 }}</textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input id="t4_8_7" name="t4_8_7" type="text" value="{{ tarea4.t4_8_7 }}" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_8_8" name="t4_8_8" type="text" value="{{ tarea4.t4_8_8 }}" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_8_9" name="t4_8_9" type="text" value="{{ tarea4.t4_8_9 }}" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input id="t4_8_10" name="t4_8_10" type="text" value="{{ tarea4.t4_8_10 }}" />
	</div>
</div>
<div id="page-tarea-4-8b" class="div-page">
	<img class="img-face" src="{% static 'LaLibretaDelDetective/images/pics/sosp8.png' %}" height="270" width="270"/>
	<div class="sosp-name-container" style="top: 1.7em;	left: 0.3em;">
		<h1>William Henry</h1>
		<h1>Blove</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea id="t5_8" name="t5_8" rows="18" cols="50" maxlength="800">{{ tarea5.t5_8 }}</textarea>
	</div>
</div>
<div id="page-tarea-4-9a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input id="t4_9_1" name="t4_9_1" type="text" value="{{ tarea4.t4_9_1 }}" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_9_2" name="t4_9_2" type="text" value="{{ tarea4.t4_9_2 }}" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_9_3" name="t4_9_3" type="text" value="{{ tarea4.t4_9_3 }}" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea id="t4_9_4" name="t4_9_4" rows="2" cols="50" maxlength="300">{{ tarea4.t4_9_4 }}</textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea id="t4_9_5" name="t4_9_5" rows="3" cols="50" maxlength="300">{{ tarea4.t4_9_5 }}</textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea id="t4_9_6" name="t4_9_6" rows="2" cols="50" maxlength="300">{{ tarea4.t4_9_6 }}</textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input id="t4_9_7" name="t4_9_7" type="text" value="{{ tarea4.t4_9_7 }}" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_9_8" name="t4_9_8" type="text" value="{{ tarea4.t4_9_8 }}" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_9_9" name="t4_9_9" type="text" value="{{ tarea4.t4_9_9 }}" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input id="t4_9_10" name="t4_9_10" type="text" value="{{ tarea4.t4_9_10 }}" />
	</div>
</div>
<div id="page-tarea-4-9b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp9.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Thomas</h1>
		<h1>Rogers</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea id="t5_9" name="t5_9" rows="18" cols="50" maxlength="800">{{ tarea5.t5_9 }}</textarea>
	</div>
</div>
<div id="page-tarea-4-10a" class="div-page">
	<p>
		¿Cuál es su profesión?
	</p>
	<div class="input-container-end">
	<input id="t4_10_1" name="t4_10_1" type="text" value="{{ tarea4.t4_10_1 }}" />
	</div>
	<p>
		¿Quién le invita a la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_10_2" name="t4_10_2" type="text" value="{{ tarea4.t4_10_2 }}" />
	</div>
	<p>
		¿En qué medio de transporte viaja hacia la Isla del Negro?
	</p>
	<div class="input-container-end">
	<input id="t4_10_3" name="t4_10_3" type="text" value="{{ tarea4.t4_10_3 }}" />
	</div>
	<p>
		¿Con quién y cómo llega al embarcadero donde les espera la canoa?
	</p>
	<textarea id="t4_10_4" name="t4_10_4" rows="2" cols="50" maxlength="300">{{ tarea4.t4_10_4 }}</textarea>
	<p>
		¿De qué se le acusa?
	</p>
	<textarea id="t4_10_5" name="t4_10_5" rows="3" cols="50" maxlength="300">{{ tarea4.t4_10_5 }}</textarea>
	<p>
		¿Qué afirma ante las acusaciones hechas contra él?
	</p>
	<textarea id="t4_10_6" name="t4_10_6" rows="2" cols="50" maxlength="300">{{ tarea4.t4_10_6 }}</textarea>
	<p>
		¿Le atormentan los remordimientos?
	</p>
	<div class="input-container-end">
	<input id="t4_10_7" name="t4_10_7" type="text" value="{{ tarea4.t4_10_7 }}" />
	</div>
	<p>
		¿Cuándo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_10_8" name="t4_10_8" type="text" value="{{ tarea4.t4_10_8 }}" />
	</div>
	<p>
		¿Cómo muere?
	</p>
	<div class="input-container-end">
	<input id="t4_10_9" name="t4_10_9" type="text" value="{{ tarea4.t4_10_9 }}" />
	</div>
	<p>
		¿Dónde muere?
	</p>
	<div class="input-container-end">
	<input id="t4_10_10" name="t4_10_10" type="text" value="{{ tarea4.t4_10_10 }}" />
	</div>
</div>
<div id="page-tarea-4-10b" class="div-page">
	<img class="img-face"  src="{% static 'LaLibretaDelDetective/images/pics/sosp10.png' %}" height="270" width="270"/>
	<div class="sosp-name-container">
		<h1>Ethel</h1>
		<h1>Rogers</h1>
	</div>
	<div class="muerte-container">
		<h3>¡En la mente del asesino!</h3>
		<textarea id="t5_10" name="t5_10" rows="18" cols="50" maxlength="800">{{ tarea5.t5_10 }}</textarea>
	</div>
</div>