{% load staticfiles %}
<div id="page-tarea-3a" class="div-page" rel="Tercera Tarea">
	<div class="page-container">
		<h1>¡Mirando con lupa! </h1>
		<h3>Pista 1(Capítulo 1)</h3>
		<p>
			¿Dónde y cuándo tienen lugar los hechos?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 2 (Capítulo 1)</h3>
		<p>
			¿Quién  ha comprado la Isla del Negro?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 3 (Capítulo 1)</h3>
		<p>
			¿Frente a quién va sentada en el tren Vera Claythorne?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-3b" class="div-page">
	<div class="page-container">
		<h3>Pista 4 (Capítulo 1)</h3>
		<p>
			¿Qué piensa Lombard de Vera Claythorne nada más verla?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 5 (Capítulo 1)</h3>
		<p>
			¿Cómo cree Emily Brent que se llama su anfitriona y por qué?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista	 6 (Capítulo 2)</h3>
		<p>
			¿Por qué la Isla del Negro se llama así?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-3c" class="div-page">
	<div class="page-container">
		<h3>Pista 7 (Capítulo 2)</h3>
		<p>
			¿Cómo se describe la habitación de Vera?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 8 (Capítulo 2)</h3>
		<p>
			¿Qué piensa el juez Wargrave de los médicos de Harley Street?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 9 (Capítulo 3)</h3>
		<p>
			¿Por qué piensa Vera que Emily Brent se ha confundido de nombre?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-3d" class="div-page">
	<div class="page-container">
		<h3>Pista 10 (Capítulo 3)</h3>
		<p>
			¿Qué ponía en la etiqueta del disco?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 11 (Capítulo 3)</h3>
		<p>
			¿Cómo reacciona Rogers cuando su mujer despierta del desmayo?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 12 (Capítulo 3)</h3>
		<p>
			¿Qué significan las iniciales del nombre del anfitrión?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-3e" class="div-page">
	<div class="page-container">

		<h3>Pista 13 (Capítulo 3)</h3>
		<p>
			¿Cuántos negritos encuentra Rogers cuando quita la mesa después de la cena?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 14 (Capítulo 4)</h3>
		<p>
			¿Por qué inquieta al general aquel pasaje en donde David envía a Urías en primera fila entre sus guerreros?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 15 (Capítulo 8)</h3>
		<p>
			¿Por qué lleva Lombard un revolver a la isla?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-3f" class="div-page">
	<div class="page-container">
		<h3>Pista 16 (Capítulo 9)</h3>
		<p>
			¿Quién va a buscar al general MacArthur para comer?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 17 (Capítulo 10)</h3>
		<p>
			¿Qué se lamenta de haber perdido Emily Brent?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 18 (Capítulo 10)</h3>
		<p>
			¿Qué dice Rogers que ha desaparecido en el cuarto de baño esa mañana?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-3g" class="div-page">
	<div class="page-container">
		<h3>Pista 19 (Capítulo 10)</h3>
		<p>
			¿Qué precauciones toma Rogers para asegurarse de que nadie toque los negritos esa noche?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 20 (Capítulo 11)</h3>
		<p>
			¿Cómo saben que Rogers se ha levantado esa mañana?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 21 (Capítulo 12)</h3>
		<p>
			¿Dónde encuentran comida quienes quedan en la Isla?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-3h" class="div-page">
	<div class="page-container">
		<h3>Pista 22 (Capítulo 13)</h3>
		<p>
			¿Por qué grita Vera?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 23 (Capítulo 14)</h3>
		<p>
			¿Cómo se explican no haber oído el disparo?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 24 (Capítulo 14)</h3>
		<p>
			Blove asegura que para descubrir la verdad no hay que desperdiciar…
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-3i" class="div-page">
	<div class="page-container">
		<h3>Pista 25 (Capítulo 14)</h3>
		<p>
			Mientras estaba embelesado en sus pensamientos… ¿qué oye Blove desde su habitación?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 26 (Capítulo 14)</h3>
		<p>
			¿Dónde aparece de nuevo el revolver de Lombard?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 27 (Capítulo 15)</h3>
		<p>
			¿Qué quiere sugerir Vera cuando habla del libro sobre los dos jueces enviados por el Tribunal Supremo a un pueblecito de América para aplicar justicia absoluta?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>
<div id="page-tarea-3j" class="div-page">
	<div class="page-container">
		<h3>Pista 28 (Capítulo 15)</h3>
		<p>
			¿Qué encuentran Vera y Lombard entre las rocas?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 29 (Capítulo 16)</h3>
		<p>
			¿Cómo ha podido arrojarse por la ventana en el momento preciso el oso de mármol?
		</p>
		<textarea rows="4" cols="50"> </textarea>
		<h3>Pista 30 (Capítulo 16)</h3>
		<p>
			¿Cuántos negritos quedaban en la cocina cuando Vera va a comer algo?
		</p>
		<textarea rows="4" cols="50"> </textarea>
	</div>
</div>