{% load staticfiles %}
<div id="page-tarea-3a" class="div-page" rel="Tercera Tarea">
	<div class="page-container">
		<h1>¡Mirando con lupa! </h1>
		<h3>Pista 1(Capítulo 1)</h3>
		<p>
			¿Dónde y cuándo tienen lugar los hechos?
		</p>
		 <textarea id="t3_1" name="t3_1" rows="4" cols="50" maxlength="300">{{ tarea3.t3_1 }}</textarea>
		<h3>Pista 2 (Capítulo 1)</h3>
		<p>
			¿Quién  ha comprado la Isla del Negro?
		</p>
		<textarea id="t3_2" name="t3_2" rows="4" cols="50" maxlength="300">{{ tarea3.t3_2 }}</textarea>
		<h3>Pista 3 (Capítulo 1)</h3>
		<p>
			¿Frente a quién va sentada en el tren Vera Claythorne?
		</p>
		<textarea id="t3_3" name="t3_3" rows="4" cols="50" maxlength="300">{{ tarea3.t3_3 }}</textarea>
	</div>
</div>
<div id="page-tarea-3b" class="div-page">
	<div class="page-container">
		<h3>Pista 4 (Capítulo 1)</h3>
		<p>
			¿Qué piensa Lombard de Vera Claythorne nada más verla?
		</p>
		<textarea id="t3_4" name="t3_4" rows="4" cols="50" maxlength="300">{{ tarea3.t3_4 }}</textarea>
		<h3>Pista 5 (Capítulo 1)</h3>
		<p>
			¿Cómo cree Emily Brent que se llama su anfitriona y por qué?
		</p>
		<textarea id="t3_5" name="t3_5" rows="4" cols="50" maxlength="300">{{ tarea3.t3_5 }}</textarea>
		<h3>Pista	 6 (Capítulo 2)</h3>
		<p>
			¿Por qué la Isla del Negro se llama así?
		</p>
		<textarea id="t3_6" name="t3_6" rows="4" cols="50" maxlength="300">{{ tarea3.t3_6 }}</textarea>
	</div>
</div>
<div id="page-tarea-3c" class="div-page">
	<div class="page-container">
		<h3>Pista 7 (Capítulo 2)</h3>
		<p>
			¿Cómo se describe la habitación de Vera?
		</p>
		<textarea id="t3_7" name="t3_7" rows="4" cols="50" maxlength="300">{{ tarea3.t3_7 }}</textarea>
		<h3>Pista 8 (Capítulo 2)</h3>
		<p>
			¿Qué piensa el juez Wargrave de los médicos de Harley Street?
		</p>
		<textarea id="t3_8" name="t3_8" rows="4" cols="50" maxlength="300">{{ tarea3.t3_8 }}</textarea>
		<h3>Pista 9 (Capítulo 3)</h3>
		<p>
			¿Por qué piensa Vera que Emily Brent se ha confundido de nombre?
		</p>
		<textarea id="t3_9" name="t3_9" rows="4" cols="50" maxlength="300">{{ tarea3.t3_9 }}</textarea>
	</div>
</div>
<div id="page-tarea-3d" class="div-page">
	<div class="page-container">
		<h3>Pista 10 (Capítulo 3)</h3>
		<p>
			¿Qué ponía en la etiqueta del disco?
		</p>
		<textarea id="t3_10" name="t3_10" rows="4" cols="50" maxlength="300">{{ tarea3.t3_10 }}</textarea>
		<h3>Pista 11 (Capítulo 3)</h3>
		<p>
			¿Cómo reacciona Rogers cuando su mujer despierta del desmayo?
		</p>
		<textarea id="t3_11" name="t3_11" rows="4" cols="50" maxlength="300">{{ tarea3.t3_11 }}</textarea>
		<h3>Pista 12 (Capítulo 3)</h3>
		<p>
			¿Qué significan las iniciales del nombre del anfitrión?
		</p>
		<textarea id="t3_12" name="t3_12" rows="4" cols="50" maxlength="300">{{ tarea3.t3_12 }}</textarea>
	</div>
</div>
<div id="page-tarea-3e" class="div-page">
	<div class="page-container">

		<h3>Pista 13 (Capítulo 3)</h3>
		<p>
			¿Cuántos negritos encuentra Rogers cuando quita la mesa después de la cena?
		</p>
		<textarea id="t3_13" name="t3_13" rows="4" cols="50" maxlength="300">{{ tarea3.t3_13 }}</textarea>
		<h3>Pista 14 (Capítulo 4)</h3>
		<p>
			¿Por qué inquieta al general aquel pasaje en donde David envía a Urías en primera fila entre sus guerreros?
		</p>
		<textarea id="t3_14" name="t3_14" rows="4" cols="50" maxlength="300">{{ tarea3.t3_14 }}</textarea>
		<h3>Pista 15 (Capítulo 8)</h3>
		<p>
			¿Por qué lleva Lombard un revolver a la isla?
		</p>
		<textarea id="t3_15" name="t3_15" rows="4" cols="50" maxlength="300">{{ tarea3.t3_15 }}</textarea>
	</div>
</div>
<div id="page-tarea-3f" class="div-page">
	<div class="page-container">
		<h3>Pista 16 (Capítulo 9)</h3>
		<p>
			¿Quién va a buscar al general MacArthur para comer?
		</p>
		<textarea id="t3_16" name="t3_16" rows="4" cols="50" maxlength="300">{{ tarea3.t3_16 }}</textarea>
		<h3>Pista 17 (Capítulo 10)</h3>
		<p>
			¿Qué se lamenta de haber perdido Emily Brent?
		</p>
		<textarea id="t3_17" name="t3_17" rows="4" cols="50" maxlength="300">{{ tarea3.t3_17 }}</textarea>
		<h3>Pista 18 (Capítulo 10)</h3>
		<p>
			¿Qué dice Rogers que ha desaparecido en el cuarto de baño esa mañana?
		</p>
		<textarea id="t3_18" name="t3_18" rows="4" cols="50" maxlength="300">{{ tarea3.t3_18 }}</textarea>
	</div>
</div>
<div id="page-tarea-3g" class="div-page">
	<div class="page-container">
		<h3>Pista 19 (Capítulo 10)</h3>
		<p>
			¿Qué precauciones toma Rogers para asegurarse de que nadie toque los negritos esa noche?
		</p>
		<textarea id="t3_19" name="t3_19" rows="4" cols="50" maxlength="300">{{ tarea3.t3_19 }}</textarea>
		<h3>Pista 20 (Capítulo 11)</h3>
		<p>
			¿Cómo saben que Rogers se ha levantado esa mañana?
		</p>
		<textarea id="t3_20" name="t3_20" rows="4" cols="50" maxlength="300">{{ tarea3.t3_20 }}</textarea>
		<h3>Pista 21 (Capítulo 12)</h3>
		<p>
			¿Dónde encuentran comida quienes quedan en la Isla?
		</p>
		<textarea id="t3_21" name="t3_21" rows="4" cols="50" maxlength="300">{{ tarea3.t3_21 }}</textarea>
	</div>
</div>
<div id="page-tarea-3h" class="div-page">
	<div class="page-container">
		<h3>Pista 22 (Capítulo 13)</h3>
		<p>
			¿Por qué grita Vera?
		</p>
		<textarea id="t3_22" name="t3_22" rows="4" cols="50" maxlength="300">{{ tarea3.t3_22 }}</textarea>
		<h3>Pista 23 (Capítulo 14)</h3>
		<p>
			¿Cómo se explican no haber oído el disparo?
		</p>
		<textarea id="t3_23" name="t3_23" rows="4" cols="50" maxlength="300">{{ tarea3.t3_23 }}</textarea>
		<h3>Pista 24 (Capítulo 14)</h3>
		<p>
			Blove asegura que para descubrir la verdad no hay que desperdiciar…
		</p>
		<textarea id="t3_24" name="t3_24" rows="4" cols="50" maxlength="300">{{ tarea3.t3_24 }}</textarea>
	</div>
</div>
<div id="page-tarea-3i" class="div-page">
	<div class="page-container">
		<h3>Pista 25 (Capítulo 14)</h3>
		<p>
			Mientras estaba embelesado en sus pensamientos… ¿qué oye Blove desde su habitación?
		</p>
		<textarea id="t3_25" name="t3_25" rows="4" cols="50" maxlength="300">{{ tarea3.t3_25 }}</textarea>
		<h3>Pista 26 (Capítulo 14)</h3>
		<p>
			¿Dónde aparece de nuevo el revolver de Lombard?
		</p>
		<textarea id="t3_26" name="t3_26" rows="4" cols="50" maxlength="300">{{ tarea3.t3_26 }}</textarea>
		<h3>Pista 27 (Capítulo 15)</h3>
		<p>
			¿Qué quiere sugerir Vera cuando habla del libro sobre los dos jueces enviados por el Tribunal Supremo a un pueblecito de América para aplicar justicia absoluta?
		</p>
		<textarea id="t3_27" name="t3_27" rows="4" cols="50" maxlength="300">{{ tarea3.t3_27 }}</textarea>
	</div>
</div>
<div id="page-tarea-3j" class="div-page">
	<div class="page-container">
		<h3>Pista 28 (Capítulo 15)</h3>
		<p>
			¿Qué encuentran Vera y Lombard entre las rocas?
		</p>
		<textarea id="t3_28" name="t3_28" rows="4" cols="50" maxlength="300">{{ tarea3.t3_28 }}</textarea>
		<h3>Pista 29 (Capítulo 16)</h3>
		<p>
			¿Cómo ha podido arrojarse por la ventana en el momento preciso el oso de mármol?
		</p>
		<textarea id="t3_29" name="t3_29" rows="4" cols="50" maxlength="300">{{ tarea3.t3_29 }}</textarea>
		<h3>Pista 30 (Capítulo 16)</h3>
		<p>
			¿Cuántos negritos quedaban en la cocina cuando Vera va a comer algo?
		</p>
		<textarea id="t3_30" name="t3_30" rows="4" cols="50" maxlength="300">{{ tarea3.t3_30 }}</textarea>
	</div>
</div>