.b-page-cover-front
{
	background-image: url('../images/libro_de_viaje_dohe_morocco_a6.jpg') !important;
	background-size: cover !important;
}

.b-page-cover-back
{
	background-image: url('../images/moleskine1.jpg') !important;
	background-size: cover !important;
}

.b-wrap-right
{
	background-image: url('../images/moleskine1.jpg') !important;
	background-size: cover !important;
}
.b-wrap-left
{
	background-image: url('../images/moleskine1.jpg') !important;
	background-size: cover !important;
}
input[type="text"]
{
    background: transparent;
    border-width: 3px;
    border-radius: 5px;
    border-color: #000000;
}
textarea
{
    background: transparent;
    border-width: 3px;
    border-radius: 5px;
    border-color: #000000;
}

body{
	background-color: #F7F1C6 
}
